@charset "UTF-8";


/* 기본 UI */
.header_inner {
	opacity: 95%;
    background-color: white;
    position: fixed;
    width: 100%;
    height: 50px;
    text-align: right;
    display: block;
    z-index: 10;
    padding: 0 80px;
}

.roll_screen{
	width : 100%;
	height : 450px;
	background-color : #FFFF5A;
	
}
.carousel-item>img{
	object-fit: none;
    overflow: hidden;
    height: 450px;
}
.footer {
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 0px;
	background-color: white;
	grid-area: footer;
	bottom: 0px;
	width: 100%;
	position: fixed;
	z-index: 5;
}

/* top menu */
.logo{
	height:40px;
	margin:5px;
}
.logo_text{
	width:300px;
	display: flex; 
	position: fixed;
	text-decoration : none;
	font-size : 30px;
	font-weight : bold;
}
.top_menu{
	width : 67%;
	right : 10%;
	display: flex;
    position: fixed;
	padding : 0px;
	height : 50px;
    align-items: center;
    place-content: center;
}
.top_user{
	position : absolute;
	right : 0%;
}
.top_menu>.top_user>a{
	text-decoration : none;
	height :25px;
	padding-top: 6px;
	margin-left : 5px;
}
.login, .sign_up{
	padding-top:0px !important; 
}
.top_menu>.top_nav{
	position : absolute;
	left : 7%;
	z-index : 1;
}
.top_nav{
    width: 41%;
    height: 50px;
    display: flex;
    position: fixed;
    text-decoration: none;
    text-wieght : bold;
    padding: 0px;
    align-items: center;
    weight : 10;
}
.top_nav>a{
	color : black;
	font-weight : bold;
	text-decoration : none;
	margin-right : 20px;
}

@media (max-width : 1425px){
	#research{
		display : none;
	}
}
@media (max-width : 1300px){
	.top_menu>.top_nav{
		left : 14%;
	}
}
@media (max-width : 1200px){
	#hot_place{
		display : none;
	}
	.top_user>.sign_up{
		display : none;
	}
	.logout_menu{
		display : none;
	}
}
@media (max-width : 1100px){
	.top_menu>.top_nav{
		left : 21%;
	}
}
@media (max-width : 1000px){
	#category{
		display:none;
	}
	.top_menu>.top_nav{
		left : 30%;
	}
}
@media (max-width : 875px){
	.top_menu>.top_nav{
		display : none;
	}
	.reg_menu{
		display : none;
	}
}
@media (max-width : 750px){
	.top_menu>.search_menu{
		right : -13%;
	}

}

@media (max-width : 700px){
	.userList_menu{
		display : none;
	}
	.top_menu>.search_menu{
		display : none;
	}
}
@media (max-width : 600px){
	.logout_menu{
		display : none;
	}
	.user_menu{
		right : 10%;
	}
}
@media (max-width : 520px){
	.top_user>.login{
		display : none;
	}
	.logo_text{
	    place-content: center;
	}
}
@media (max-width : 620px){
	.top_user>.sign_up{
		display : none;
	}
}
.sm_menu{
	display : none;
	position : absolute;
	left : 0%;
}
.sm_menu>img{
	width : 50px;
	height : 50px;
	position : fixed;
}



/* search menu */
.search_menu {
    width: auto;
    display: flex;
    height: 50px;
    z-index: 3;
    position: relative;
    flex: auto;
    right: -15%;
    z-index :0;
}
.search_box{
	position: relative;
}
.search_img{
    position: absolute;
    width: 17px;
    margin: 0;
    right: 2%;
    display: flex;
    top: 30%;
}
.search_input {
	border: none;
	width: 100%;
	padding: 10px 12px;
	font-size: 14px;
}
input:focus{
	outline : none;
}

.search_bar {
	border: 3px solid;
	border-color: rgb(64, 219, 43);
	border-radius: 5px;
	margin: auto;
	width: 25%;
}
.search_bar>form>input {
	width: 250px;
	margin: 10px;
	border: none;
	font-size: large;
}


.category{
	display : flex;
	flex-direction : column;
	height : 250px;
}
.category>.row{
	flex:1;
	width : 500px;
	justify-content: center;
	height : 125px !important;
	margin : auto;
	text-align : center;
}
.category>.row>a{
	flex:1;
	justify-content: center;
	text-decoration : none;
	padding : 0;
	margin : 0;
	
}
.category>.row>.col{
	align-self : center;
}
.category>.row>a>img{
	border : 1px solid white;
	border-radius : 75px;
	padding : 0;
	margin : 0;
	width : 125px;
	height : 125px;
	overflow : hidden;
}
.block_content_top{
	height : 50px;
}
.block_content{
	height : 450px;
}
.hot_place{
	background-color : #F2FFED;
	height : 400px;
}
.hot_place>p{
	padding-top : 100px;
	font-size : 50px;
	color : red;
	text-align : center;
}
.hot_place>p>strong{
	font-size : 80px;
}
.hot_place>p>span{
	font-size : 75px;
	color : black;
	font-weight : bold;
}
.roll_screen_store{
	background-color : #F2FFED;
	margin : 0;
	height : 100%;
	position : relative;
	margin-right: -1%;
    margin-left: -1%;
    margint-bottom : 100px;
}
.roll_screen_store>.block_content{
	background-color : #F2FFED;
	height : 100px;
	
}
.roll_screen_store::before{
	content:'';
    position: absolute;
    left: 0;
    width: 100px;
    height: 100%;
    z-index: 2;
    background: linear-gradient(to right, white 10%, transparent);
    opacity : 0.7;
}
.roll_screen_store::after{
	content:'';
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    z-index: 2;
    background: linear-gradient(to left, white 10%, transparent);
    opacity : 0.7;
}
.roller_store{
	display : inline-flex;
}
.card{
	height : 352px !important;
	padding : 0;
	margin-right : 30px !important;
}
.card-body>a{
	position : absolute;
	bottom : 15px;
	left : 15px;
}
.card-img-top{
	width:286px;
	height:200px;
}

.research{
	background : #FFFFE9;
	height : 900px;
}
.research>p{
	padding-top : 250px;
	font-size : 50px;
	color : red;
	text-align : center;
}
.research>p>strong{
	font-size : 80px;
}
.research>p>span{
	font-size : 75px;
	color : black;
	font-weight : bold;
}


/* effect */
.rainbow_effect{
	animation-duration: 1s; 
	animation-name: rainbowLink; 
	animation-iteration-count: infinite; 
}
@keyframes rainbowLink {     
 0% { background-color: #ff2a2a; }
 15% { background-color: #ff7a2a; }
 30% { background-color: #ffc52a; }
 45% { background-color: #43ff2a; }
 60% { background-color: #2a89ff; }
 75% { background-color: #202082; }
 90% { background-color: #6b2aff; } 
 100% { background-color: #e82aff; }
}

.cloud_effect{
    height: 50px;
    animation-duration: 20s;
    animation-name: cloudLink;
    animation-iteration-count: infinite;
    display: flex;
    place-items: center;
}
@keyframes cloudLink {     
 0% { color: #FFA7A7; }
 7% { color: #FFC19E; }
 14% { color: #FFE08C; }
 21% { color: #FAED7D; }
 28% { color: #CEF279; }
 35% { color: #B7F0B1; }
 42% { color: #B2EBF4; } 
 49% { color: #B2CCFF; }
 56% { color: #D1B2FF; }
 63% { color: #FFB2F5; }
 70% { color: #FFB2D9; }
 77% { color: #B2CCFF; }
 84% { color: #D5D5D5; }
 91% { color: #BDBDBD; }
 100% { color: #353535; }
}
body::-webkit-scrollbar {
	width: 5px;
	height: 0px;
}
body::-webkit-scrollbar-thumb {
	background-color: #2f3542;
	border-radius: 10px;
}