@charset "UTF-8";
@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 400;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

body {
 font-family: 'NanumBarunGothic', sans-serif;
}

/* 기본 UI */
.header_inner {
	opacity: 95%;
    background-color: white;
    position: fixed;
    width: 100%;
    height: 50px;
    text-align: right;
    display: block;
    z-index: 10;
    padding: 0 80px;
}

/* top menu */
.logo{
	height:40px;
	margin:5px;
}
.logo_text{
	margin-left : 50px;
	width:300px;
	height:50px;
	display: flex; 
	position: fixed;
	text-decoration : none;
	font-size : 30px;
	font-weight : bold;
}
.top_menu{
	width : 67%;
	right : 10%;
	display: flex;
    position: fixed;
	padding : 0px;
	height : 50px;
    align-items: center;
    place-content: center;
}
.top_user{
	position : absolute;
	right : 0%;
}
.top_menu>.top_user>a{
	text-decoration : none;
	height :25px;
	padding-top: 6px;
	margin-left : 5px;
}
.login, .sign_up{
	padding-top:0px !important; 
}
.top_menu>.top_nav{
	position : absolute;
	left : 7%;
	z-index : 1;
}
.top_nav{
    width: 41%;
    height: 50px;
    display: flex;
    position: fixed;
    text-decoration: none;
    text-wieght : bold;
    padding: 0px;
    align-items: center;
    weight : 10;
}
.top_nav>a{
	color : black;
	font-weight : bold;
	text-decoration : none;
	margin-right : 20px;
}

.sm_menu{
	display : none;
	position : absolute;
	left : 0%;
}
.sm_menu>img{
	width : 50px;
	height : 50px;
	position : fixed;
}



/* search menu */
.search_menu {
    width: auto;
    display: flex;
    height: 50px;
    z-index: 3;
    position: relative;
    flex: auto;
    right: -15%;
    z-index :0;
}
.search_box{
	position: relative;
}
.search_img{
    position: absolute;
    width: 17px;
    margin: 0;
    right: 2%;
    display: flex;
    top: 30%;
}
.search_input {
	border: none;
	width: 100%;
	padding: 10px 12px;
	font-size: 14px;
}
input:focus{
	outline : none;
}

.search_bar {
	border: 3px solid;
	border-color: rgb(64, 219, 43);
	border-radius: 5px;
	margin: auto;
	width: 25%;
}
.search_bar>form>input {
	width: 250px;
	margin: 10px;
	border: none;
	font-size: large;
}
.category_bar>.row{
	padding :0 20%;
	height : 50px;
	align-content : center;
	background-color : beige;
}
.category_bar>.row>a{
	flex : 1;
	text-decoration : none;
	color : black;
	font-weight : bold;
	text-align : center;
}


.container{
	width : 80%;
	background : #F2FFED;
}
.list_title{
    padding-top: 40px;
    text-align: center;
    height: 100px;
    font-size: 20px;
}
.list_title>span{
	font-size : 15px;
	color : gray;
}
ul{
    list-style: none;
	padding : 0;
}
.shop_item_wrapper{
    display: inline-flex;
    text-align: left;
    margin-bottom: 20px;
    height: 350px;
    padding-bottom: 10px;
}
.shop_item{
	width:25%;
	min-width : 250px;
}
.shop_item_content{
	padding-left : 10px;
}
.shop_item_content_detail{
	text-align : left;
	font-size : 13px;
	color : gray;
}
.shop_item_img{
	position : relative;
	display : block;
	background : center;
}
.shop_item_img>img{
	width : 250px;
	height : 200px;
}
.shop_title{
	font-weight : bold;
	font-size : 20px;
}
.shop_info_icon{
	width : 15px;
	height : 15px;
	margin-bottom : 4px;
	opacity : 55%;
}















.category{
	display : flex;
	flex-direction : column;
	height : 250px;
}
.category>.row{
	flex:1;
	width : 500px;
	justify-content: center;
	height : 125px !important;
	margin : auto;
	text-align : center;
}
.category>.row>a{
	flex:1;
	justify-content: center;
	text-decoration : none;
	padding : 0;
	margin : 0;
	
}
.category>.row>.col{
	align-self : center;
}
.category>.row>a>img{
	border : 1px solid white;
	border-radius : 75px;
	padding : 0;
	margin : 0;
	width : 125px;
	height : 125px;
	overflow : hidden;
}
.block_content_top{
	height : 50px;
}
.block_content{
	height : 450px;
}


/* effect */
.rainbow_effect{
	animation-duration: 1s; 
	animation-name: rainbowLink; 
	animation-iteration-count: infinite; 
}
@keyframes rainbowLink {     
 0% { background-color: #ff2a2a; }
 15% { background-color: #ff7a2a; }
 30% { background-color: #ffc52a; }
 45% { background-color: #43ff2a; }
 60% { background-color: #2a89ff; }
 75% { background-color: #202082; }
 90% { background-color: #6b2aff; } 
 100% { background-color: #e82aff; }
}

.cloud_effect{
    height: 50px;
    animation-duration: 20s;
    animation-name: cloudLink;
    animation-iteration-count: infinite;
    display: flex;
    place-items: center;
}
@keyframes cloudLink {     
 0% { color: #FFA7A7; }
 7% { color: #FFC19E; }
 14% { color: #FFE08C; }
 21% { color: #FAED7D; }
 28% { color: #CEF279; }
 35% { color: #B7F0B1; }
 42% { color: #B2EBF4; } 
 49% { color: #B2CCFF; }
 56% { color: #D1B2FF; }
 63% { color: #FFB2F5; }
 70% { color: #FFB2D9; }
 77% { color: #B2CCFF; }
 84% { color: #D5D5D5; }
 91% { color: #BDBDBD; }
 100% { color: #353535; }
}
body::-webkit-scrollbar {
	width: 5px;
	height: 0px;
}
body::-webkit-scrollbar-thumb {
	background-color: #2f3542;
	border-radius: 10px;
}