<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shop">

   <sql id="searchCondition">
      <choose>
         <when test="title != null">
            WHERE title LIKE '%'||#{title}||'%'
         </when>
         <when test="categorie != null">
            WHERE categorie LIKE '%'||#{categorie}||'%'
         </when>
      </choose>
   </sql>
   
	<insert id="insert" parameterType="shopDto">
		insert into board_shop
		(num,title,content,imagePath,categorie,reviewCount,startTime,endTime,telNum,addr)
		values(board_shop_seq.nextval, #{title}, #{content}, #{imagePath}, #{categorie}, 0, #{startTime}, #{endTime}, #{telNum}, #{addr})
	</insert>
	
	<delete id="delete" parameterType="int">
		delete from board_shop
		where num=#{num}
	</delete>
	
	<update id="update" parameterType="shopDto">
		update board_shop
		set title=#{title}, content=#{content}, imagePath=#{imagePath}, categorie=#{categorie}, telNum=#{telNum}, addr=#{addr}, startTime=#{startTime}, endTime=#{endTime}
		where num=#{num}
	</update>
	
	<select id="getCount" parameterType="ShopDto" resultType="int">
      SELECT NVL(MAX(ROWNUM), 0)
      FROM board_shop
      <include refid="searchCondition"/>
    </select>   
	
	<select id="getList" parameterType="shopDto" resultType="shopDto">
      SELECT *
      FROM
         (SELECT result1.*, ROWNUM AS rnum
         FROM
            (SELECT *
			FROM
				(SELECT s.num, s.title, s.content, s.imagePath, s.categorie, s.reviewCount, s.startTime, s.endTime, s.telNum, s.addr, r.grade
      			 from board_shop s, (SELECT ref_group, avg(grade) grade FROM board_shop_review where deleted = 'no' group by ref_group) r
				     where s.num = r.ref_group(+))
			<include refid="searchCondition"/>
			ORDER BY num DESC) result1)
      <![CDATA[ 
      WHERE rnum >= #{startRowNum} AND rnum <= #{endRowNum}
      ]]>
	</select>
	
   <select id="getData" parameterType="int" resultType="shopDto">
   		select num,title,content,imagePath,categorie,
      		reviewCount,startTime,endTime,telNum,addr
     	from board_shop
     	where num=#{num}
   </select>
   
   <select id="getData2" parameterType="shopDto" resultType="shopDto">
   		select result1.*
	   		from	(select num,title,content,imagePath,categorie,
	      		reviewCount,startTime, endTime,telNum,addr
	     	from board_shop
	     	<include refid="searchCondition"/>
	     	) result1
     	where num=#{num}
   </select>

</mapper>
