<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="users">
	<insert id="insert" parameterType="usersDto">
		INSERT INTO users
		(id, pwd, email, regdate)
		VALUES( #{id}, #{pwd}, #{email}, SYSDATE)
	</insert>
	<select id="getData" parameterType="string" resultType="usersDto">
		SELECT id, pwd, profile, email, regdate, ban
		FROM users
		WHERE id=#{id}
	</select>
	<update id="updatePwd" parameterType="usersDto">
		UPDATE users
		SET pwd=#{newPwd}
		WHERE id=#{id}
	</update>
	<!-- 
		int, long, float, double, String type 에 대응되는 
		
		jdbcType 종류 
		
		INTEGER, BIGINT, FLOAT, DOUBLE, VARCHAR
	 -->
	<update id="update" parameterType="usersDto">
		UPDATE users
		SET email=#{email }, profile=#{profile, jdbcType=VARCHAR}, ban=#{ban}
		WHERE id=#{id }
	</update>
	<update id="ban" parameterType="string">
		UPDATE users
		SET ban='BAN'
		WHERE id=#{id }
	</update>
	<delete id="delete" parameterType="string">
		DELETE FROM users
		WHERE id=#{id}
	</delete>
	<select id="getList" parameterType="usersDto" resultType="usersDto">
	  SELECT *
      FROM
         (SELECT result1.*, ROWNUM AS rnum
         FROM
            (SELECT id, pwd, email, regdate, ban
            FROM users
            
            <choose>
                 <when test="id != null">
                    WHERE id LIKE '%'||#{id}||'%'
                 </when>
            </choose>
            
            ORDER BY regdate DESC) result1)
      WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	<select id="getCount" parameterType="usersDto" resultType="int">
      SELECT NVL(MAX(ROWNUM), 0)
      FROM users
      <choose>
            <when test="id != null">
               WHERE id LIKE '%'||#{id}||'%'
            </when>
      </choose>
    </select>
</mapper> 